<h3> Hasil Pencarian </h3>

<% if @menu.present? %>
<h4> kamu mencari : <%= @menu.count %> food</h4> 

<% end %>

<% if @result.present? %>
<h4> <%= @result %></h4>
<% end %>

<%= link_to 'Back', root_path, class:"btn btn-primary" %>

