<h1>Editing jwt active</h1>

<%= render "form", jwt_active: @jwt_active %>

<br>

<div>
  <%= link_to "Show this jwt active", @jwt_active %> |
  <%= link_to "Back to jwt actives", jwt_actives_path %>
</div>
