<h1>Editing jwt blacklist</h1>

<%= render "form", jwt_blacklist: @jwt_blacklist %>

<br>

<div>
  <%= link_to "Show this jwt blacklist", @jwt_blacklist %> |
  <%= link_to "Back to jwt blacklists", jwt_blacklists_path %>
</div>
