<div id="<%= dom_id kategori %>">
  <p>
    <strong>Name:</strong>
    <%= kategori.name %>
  </p>

  <p>
    <strong>Jenis:</strong>
    <%= kategori.jenis %>
  </p>

  <p>
    <strong>Origin:</strong>
    <%= kategori.origin %>
  </p>

</div>
