<div id="<%= dom_id imei_active %>">
  <p>
    <strong>Number:</strong>
    <%= imei_active.number %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= imei_active.status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= imei_active.user_id %>
  </p>

</div>
