<h1>Editing imei active</h1>

<%= render "form", imei_active: @imei_active %>

<br>

<div>
  <%= link_to "Show this imei active", @imei_active %> |
  <%= link_to "Back to imei actives", imei_actives_path %>
</div>
